<% content_for(:title) { "Tennis Scoreboard | Finished Matches" } %>
<% content_for(:head) do %>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap" rel="stylesheet">
<% end %>

<main>
    <div class="container">
        <h1>Matches</h1>
        <div>
            <%= form_with url: matches_path, method: :get, local: true, class: "input-container" do |form| %>
              <input class="input-filter" placeholder="Filter by name" type="text" name="q" value="<%= params[:q] %>" />
              
              <div>
                <button class="btn-filter" type="submit">Apply Filter</button>
              </div>
            <% end %>
        </div>

        <table class="table-matches">
            <tr>
                <th>Player One</th>
                <th>Player Two</th>
                <th>Winner</th>
            </tr>
            <% @matches.each do |match| %>
                <tr>
                    <td><%= match.winner.name %></td>
                    <td><%= match.loser.name %></td>
                    <td>
                        <span class="winner-name-td">
                            <%= match.winner.name %>
                        </span>
                    </td>
                </tr>
            <% end %>
        </table>

        <div class="pagination">
            <% current_page = @page + 1 %>
            <% previous_page = current_page - 1 >= 1 ? current_page - 1 : 1 %>
            <% next_page = current_page + 1 %>

            <a class="prev" href="<%= matches_path(page: previous_page) %>"> < </a>
            <a class="num-page current" href="<%= matches_path(page: current_page) %>"><%= current_page %></a>
            <a class="next" href="<%= matches_path(page: next_page) %>"> > </a>
        </div>
    </div>
</main>
