<% content_for(:title) { "Tennis Scoreboard | New Match" } %>
<% content_for(:head) do %>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap" rel="stylesheet">
<% end %>

<main>
    <div class="container">
        <div>
            <h1>Start new match</h1>
            <div class="new-match-image"></div>
            <div class="form-container center">
                <%= form_with url: matches_path, local: true do |form| %>
                    <% if @error.present? %>
                        <p style="color: red;"><%= @error %></p>
                    <% end %>
                    <label class="label-player" for="playerOne">Player one</label>
                    <%= form.text_field :player_one, placeholder: "Name", required: true, title: "Enter a name", class: "input-player" %>
                    <label class="label-player" for="playerTwo">Player two</label>
                    <%= form.text_field :player_two, placeholder: "Name", required: true, title: "Enter a name", class: "input-player" %>
                    <%= form.submit "Start", class: "form-button" %>
                <% end %>
            </div>
        </div>
    </div>
</main>
