<% content_for(:title) { "Tennis Scoreboard | Match Score" } %>
<% content_for(:head) do %>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap" rel="stylesheet">
<% end %>

<main>
    <div class="container">
        <h1>Current match</h1>
        <div class="current-match-image"></div>
        <section class="score">
            <table class="table">
                <thead class="result">
                <tr>
                    <th class="table-text">Player</th>
                    <th class="table-text">Sets</th>
                    <th class="table-text">Games</th>
                    <th class="table-text">Points</th>
                </tr>
                </thead>
                <tbody>
                <tr class="player1">
                    <td class="table-text"><%= @match[:player_one].name %></td>
                    <td class="table-text"><%= @match[:player_one_sets] || 0 %></td>
                    <td class="table-text"><%= @match[:player_one_games] || 0%></td>
                    <td class="table-text"><%= @match[:player_one_points] || 0%></td>
                    <td class="table-text">
                        <div class="score-btn">Score</div>
                    </td>
                </tr>
                <tr class="player2">
                    <td class="table-text"><%= @match[:player_two].name %></td>
                    <td class="table-text"><%= @match[:player_two_sets] || 0 %></td>
                    <td class="table-text"><%= @match[:player_two_games] || 0%></td>
                    <td class="table-text"><%= @match[:player_two_points] || 0%></td>
                    <td class="table-text">
                        <div class="score-btn">Score</div>
                    </td>
                </tr>
                </tbody>
            </table>
        </section>
    </div>
</main>
