<% content_for(:title) { "Tennis Scoreboard | Match Score" } %>
<% content_for(:head) do %>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap" rel="stylesheet">
<% end %>

<main>
    <div class="container">
        <h1>Current match</h1>
        <div class="current-match-image"></div>
        <section class="score">
            <table class="table">
                <thead class="result">
                <tr>
                    <th class="table-text">Player</th>
                    <th class="table-text">Sets</th>
                    <th class="table-text">Games</th>
                    <th class="table-text">Points</th>
                </tr>
                </thead>
                <tbody>
                <tr class="player1">
                    <% player_one = @match.player_one %>
                    <td class="table-text"><%= player_one.name %></td>
                    <td class="table-text"><%= player_one.sets %></td>
                    <td class="table-text"><%= player_one.games %></td>
                    <td class="table-text"><%= player_one.points %></td>
                    <td class="table-text">
                        <%= button_to "Score", match_path(params[:id]), method: :patch, params: { scoring_player_id: player_one.id }, class: "score-btn" %>
                    </td>
                </tr>
                <tr class="player2">
                    <% player_two = @match.player_two %>
                    <td class="table-text"><%= player_two.name %></td>
                    <td class="table-text"><%= player_two.sets %></td>
                    <td class="table-text"><%= player_two.games %></td>
                    <td class="table-text"><%= player_two.points %></td>
                    <td class="table-text">
                        <%= button_to "Score", match_path(params[:id]), method: :patch, params: { scoring_player_id: player_two.id }, class: "score-btn" %>
                    </td>
                </tr>
                </tbody>
            </table>
        </section>
    </div>
</main>
