<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Tennis Scoreboard" %></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="header">
        <section class="nav-header">
            <div class="brand">
                <div class="nav-toggle">
                    <img src="<% asset_path("menu.png") %>" alt="Logo" class="logo">
                </div>
                <span class="logo-text">TennisScoreboard</span>
            </div>
            <div>
                <nav class="nav-links">
                    <a class="nav-link" href="<%= root_path %>">Home</a>
                    <a class="nav-link" href="<%= matches_path %>">Matches</a>
                </nav>
            </div>
        </section>
    </header>

    <%= yield %>

    <footer>
        <div class="footer">
            <p>&copy; Tennis Scoreboard, project from <a href="https://zhukovsd.github.io/java-backend-learning-course/">zhukovsd/java-backend-learning-course</a> roadmap.</p>
        </div>
    </footer>
  </body>
</html>
